body {
    flex-wrap: wrap;
    
}

.header-princial {
    justify-content: center;
    width: 100%;
    background-color: rgb(250, 235, 215);
    height: 6%;
}

.header-princial > .container {
    justify-content: space-between;
    margin: 0;
    width: 100%;
} 

.submenu {
    display: none;
    position: absolute;
}

header {
    position: sticky;
    z-index: 1;
    width: 100%;
    top: 0;

}

header > nav.navbar {
    padding-top: 0;
}

a {
    text-decoration: none;
}

.submenu,
.dropdown-menu {
    border: 2px solid rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.menu > li {
    float: left;
    padding: 16px;
    border-top: 4px solid transparent;
    position: relative;
}

.menu {
    background-color: #313b3b85;
    position: absolute;
    z-index: 1;
    border-radius: 20px ;
    border: 2px solid #000000;
}

.menu li:hover .submenu,
.submenu:hover {
    display: block;
    background-color: #fff;
}

.menu li:hover {
    border-color: rgb(168, 20, 77);
}

.submenu li {
    display: block;
    padding: 8px;
}

.botoes {
    align-items: center;
    justify-content: space-around;
}

.botoes button {
    display: flex;
    height: 80%;
    max-width: 48px;
    justify-content: center;
}

.botoes button > img  {
    height: 100%;
}

button.navbar-toggler {
    align-items: center;
}

button.btn > a {
    color: rgb(255, 243, 243);
}

ul li {
    list-style: none;
}

.comprar {
    margin-top: 5%;
}

.comprar button {
    width: 40%;
    bottom: 0;
}

.comprar strong {
    width: 40%;
    align-self: center;
}

div h2 {
    text-decoration: underline;
}

div.card-body img {
    width: 100%;
    height: 480px;
}

.texto {
    margin: 4%;
}

.carousel {
    z-index: 0;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #00000091;
}

.carousel-control-next,
.carousel-control-prev {
    position: absolute;
    width: 5%;
    margin-left: 0;
    margin-right: 0;
}

.carousel-indicators {
    width: 38%;
    background-color: #00000060;
}

.secoes > * {
    margin-bottom: 7%;
}

.secoes aside {
    margin: 0;
}

.tabela-itens > * {
    margin: 2% 4%;
}

aside {
    position: fixed;
    top: 15%;
    z-index: 1;
}

aside ul {
    margin-bottom: 26px;
}

.aside-main a {
    color: #000000;
}

.aside-main > li {
    list-style: square;
}

.aside-main ul li {
    list-style: circle;
}

.aside-main ul li {
    margin-top: 12px;
}

#quadros .comprar {
    margin: 2% 0;
    height: 42px;
}

.loja img {
    max-width: 480px;
    width: 60%;
}

#sobre > * {
    margin-bottom: 3%;
}
#sobre h2.h1 {
    margin-bottom: 5%;
}

#sobre .loja-texto {
    width: 360px;
}

.carrinho {
    display: none;
    position: fixed;
    top: 6%;
    right: 0;
    max-width: 25%;
    width: 100%;
    max-height: 94%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.btn-carrinho {
    width: 80%;
    margin: 4% 0;
}

.btn-carrinho > p {
    margin: 0;
}

.carrinho > .container {
    max-height: 100%;
    height: 100%;
}

.carrinho .text-center > * {
    margin: 4%;
}

.total-carrinho {
    bottom: 0;
}

.item {
    max-width: 85%;
}

.item h2.h4 {
    padding: 8px;
}

.img-carrinho {
    max-width: 280px;
    width: 90%;
}

.carrinho-itens {
    max-height: 80%;
    margin-bottom: 8%;
    overflow-y: auto;
}

#final-carrinho {
    margin-bottom: 4%;
}


@media screen and  (max-width: 640px) {
    
    section {
        height: 100vh;
    }

    aside {
        display: none;
    }

    .header-princial > .container h1 {
        width: 60%;
    }

    .header-princial > .container > .botoes {
        width: 40%;
        justify-content: space-around;
    }

    .carousel {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .carousel-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .carousel-item > .texto p {
        display: none;
    }

    .carousel-item .card-body {
        width: 90%;
    }

    .carousel-indicators {
        width: 50%;
        position: relative;
        margin: 0;
        margin-top: 5%;
        align-self: center;
    }


    .tabela-itens {
        align-items: center;
        height: auto;
        flex-direction: column;
    }

    .tabela-itens > .card {
        width: 80%;
        height: 55vh;
    }



}